element.style {
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/t/tomotabitrip/20210212/20210212221920.jpg);
    background-position: center -437px;
}
.header-image-enable #blog-title #blog-title-inner {
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
}
.header-image-enable #blog-title-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0 0;
}

#blog-title-content h1, #blog-title-content h2{
    color:black;
}

.jenre_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.campaign h2{
    display: flex;
}

s.campaign form{
    display: flex;
}

user agent stylesheet
div {
    display: block;
}
#blog-title {
    margin: auto;
    max-width: 1200px;
    padding: 3em 20px 2em;
    text-align: center;
}
